.add_tms_link{
    text-align: center;
    font-size: 32px;
}

.add_button {
    font-size: 100px;
    text-align: center;
    vertical-align: center;
    display: inline-block;
}

.add_button_container {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
}

.tms-links-container-wrapper {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: middle;
}

#tutorial-overlay {
    /* Positioning */
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* Sizing */
    width: 100vw;
    height: 100vh;
    /* Style */
    background-color: rgba(200,200,200,0.5);
    text-align: center;
}

#tutorial-image {
    /* Positioning */
    display: inline-block;
    /* Style */
    box-shadow: gray -4px 4px 10px;
    border-radius: 20px;
}

.overlay-container {
    /* Sizing */
    width: 100%;
    height: 100%;
    /* Positioning */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.img-wrapper {
    /* Positioning */
    position: relative;
    margin: 0 auto;
    /* Sizing */
    width: 100%;
    min-width: 500px;
}

.img-responsive {
    /* Sizing */
    width: 100%;
}

#back-button {
    /* Sizing */
    width: 3vw;
    height: 3vw;
    min-width: 30px;
    min-height: 30px;
    /* Positioning */
    position: absolute;
    top: 2%;
    right: 2%;
    /* Style */
    background-image: url('../../../assets/x_button_150x150.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: none;
}

#continue-button {
    /* Text */
    /* font-size: max(2vw, 1em); */
    font-size: 2vw;
    /* Sizing */
    width: 40%;
    height: 12%;
    min-width: 200px;
    min-height: 40px;
    /* Positioning */
    position: absolute;
    bottom: 5%;
}

.absolute-center {
    /* Positioning */
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.outer-loader {
    /* Sizing */
    width: 60%;
    height: 2%;
    /* Positioning */
    position: absolute;
    top: 11%;
    /* Style */
    background-color: #C5CAE9;
    border-radius: 5px;
}

.inner-loader {
    /* Style */
    background-color: #3F51B5;
}

.error-wrapper {
    /* Positioning */
    position: relative;
    margin: 0 auto;
    /* Sizing */
    width: 100%;
    min-width: 500px;
    min-height: 50px;
}