<!-- <div class="carousel">
	<ul class="slides">
		<li><img src="http://www.cats.org.uk/uploads/images/featurebox_sidebar_kids/grief-and-loss.jpg" alt="" /></li>
		<li><img src="http://www.cats.org.uk/uploads/images/featurebox_sidebar_kids/grief-and-loss.jpg" alt="" /></li>
		<li><img src="http://www.cats.org.uk/uploads/images/featurebox_sidebar_kids/grief-and-loss.jpg" alt="" /></li>
	</ul>
</div> -->
<!-- <div class="carousel">
	<ul class="slides">
		<li *ngFor="let image of images">
      <h2>{{image.title}}</h2>
      <img src="{{image.url}}" alt="">
    </li>
	</ul>
</div> -->

<!-- <a mat-button [routerLink] = "['register']">Sign Up</a> --> <!-- isLoggedIn check -->

<app-register-page></app-register-page>
<!-- <app-jira-credentials></app-jira-credentials> -->
<!--  <div class="carousel carousel-slider" data-indicators="true" >

  <a class="carousel-item" href="#one!"><img src="http://bit.ly/2xEJdb8" height="780"></a>
   <div class="carousel-fixed-item center">
     <h2 class="white-text">Kimchi is awesome</h2>
      <p class="white-text">This is a reason why</p>
      <button mat-button color="primary" [routerLink] = "['users']">Join Now!</button>
    </div>
    
    <a class="carousel-item" href="#two!"><img src="http://bit.ly/2xEJdb8" height="780">
      </a>

   <a class="carousel-item" href="#two!"><img src="http://bit.ly/2xEJdb8" height="780">
      </a>
    
</div> -->
<!-- <div id="slider">
<figure>
<img src="http://bit.ly/2xEJdb8" height="750" width="300" alt="fake kimchi">
<img src="http://bit.ly/2xEJdb8" height="750" width="300" alt>
<img src="http://bit.ly/2xEJdb8" height="750" width="300" alt>
<img src="http://bit.ly/2xEJdb8" height="750" width="300" alt>
<img src="http://bit.ly/2xEJdb8" height="750" width="300" alt>
</figure>
</div> -->
