  <mat-card class="tms-card">

    <mat-card-header class="card-header" style="margin-bottom: 28px;">
      <mat-card-title class="new-font" style="margin-top: 8px; font-size: 24px;" class="julius-font">{{  remove_protocol_from_string(tms.endpoint) }}</mat-card-title>

    </mat-card-header>
    <mat-card-content>

      <mat-accordion>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              TMS Connectivity
            </mat-panel-title>
            <mat-panel-description>
                {{ tms_status.status }}
            </mat-panel-description>
          </mat-expansion-panel-header>
            URL {{ tms.endpoint }} <br>
            {{ tms_status.description | slice:0:200 }}
        </mat-expansion-panel>
      </mat-accordion>      
        <div>
          <app-error-box *ngIf="error == true" [error_message]="error_message"></app-error-box>
          <div *ngIf="updating_tms == true" class="alert alert-info">Hold tight! We are verifying your info with Atlassian...</div>
      <mat-accordion>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Update credentials for this JIRA account
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
            <div style="margin-top: 35px;">              
              <form #f="ngForm" (ngSubmit)="update_password(tms.id)">
                <div class="form-group">
                  
                    <label for="username" style="font-size: 16px;">Username</label>
                  <input type="text" class="form-control" id="username" name="username" required [(ngModel)]="new_username" #email="ngModel" style="font-size: 16px;" placeholder="{{ tms.username }}" />
                </div>                
                <div>
                  <label for="password" style="font-size: 16px;">Password</label>
                  <input type="password" id="password"  name="password" required [(ngModel)]="new_password" #password="ngModel" style="font-size: 16px;" />
                </div>
                <div class="form-group">
                  <button mat-raised-button color="accent" style="margin-right: 10px; margin-bottom: 5px; font-size: 20px; width: 120px; height: 44px;" class="new-font">Update</button>
                </div>                  
              </form>   
            </div>   
        </mat-expansion-panel>
      </mat-accordion>      
        <br>
      <div align="center">
        <button mat-raised-button (click)="parse_projects(tms.id)" color="accent" style="margin-right: 10px; margin-bottom: 5px; font-size: 20px; width: 340px; height: 44px;" class="new-font">Pull projects</button>        
      </div>
      <div align="center">
          <button mat-raised-button (click)="delete_tms(tms.id)" matTooltip="This will also remove all projects associated with this JIRA account" color="accent" style="margin-right: 10px; margin-bottom: 5px; font-size: 20px; width: 340px; height: 44px;" class="new-font">Remove this JIRA account</button>
          </div>

      </div>
      <div align="right">TMS ETAbot ID {{ tms.id }}</div>
    </mat-card-content>


  </mat-card>
