  <mat-card class="tms-card">

    <mat-card-header class="card-header" style="margin-bottom: 28px;">
      <mat-card-title class="new-font" style="margin-top: 8px; font-size: 24px;" class="julius-font">{{  remove_protocol_from_string(tms.endpoint) }}</mat-card-title>

    </mat-card-header>
    <mat-card-content>

      <mat-accordion>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Status
            </mat-panel-title>
            <mat-panel-description>
                {{ tms_status.status }}
            </mat-panel-description>
          </mat-expansion-panel-header>
            URL {{ tms.endpoint }} <br>
            {{ tms_status.description | slice:0:200 }}
        </mat-expansion-panel>
      </mat-accordion>      
        <div>
          <app-error-box *ngIf="error == true" [error_message]="error_message"></app-error-box>
          <div *ngIf="updating_tms == true" class="alert alert-info">Hold tight! We are verifying your info with Atlassian...</div>
      <mat-accordion *ngIf="username_not_null()">
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Update credentials
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
            <div style="margin-top: 35px;">              
              <form #f="ngForm" (ngSubmit)="update_password(tms.id)">
                <div class="form-group">
                  
                    <label for="username" style="font-size: 16px;">Username</label>
                  <input type="text" class="form-control" id="username" name="username" required [(ngModel)]="new_username" #email="ngModel" style="font-size: 16px;" placeholder="{{ tms.username }}" />
                </div>                
                <div>
                  <label for="password" style="font-size: 16px;">Password</label>
                  <input type="password" id="password"  name="password" required [(ngModel)]="new_password" #password="ngModel" style="font-size: 16px;" />
                </div>
                <div class="form-group">
                  <button mat-raised-button color="accent" style="margin-right: 10px; margin-bottom: 5px; font-size: 20px; width: 120px; height: 44px;" class="new-font">Update</button>
                </div>                  
              </form>   
            </div>   
        </mat-expansion-panel>
      </mat-accordion>      
        <br>
         <div align="center" *ngIf="!username_not_null()">
            <button mat-raised-button [routerLink]="['/tms_connect']"  color="accent" style="margin-right: 10px; margin-bottom: 5px; font-size: 20px; height: 44px;" class="new-font">Reconnect</button>        
        </div>
      
      <div>
        <mat-expansion-panel>
          
          <mat-expansion-panel-header>
            <mat-panel-title>
              Select projects to import
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>

          <div align="center">
            <button mat-raised-button (click)="select_all_projects(true)" color="primary" style="margin: 5px">Select All</button>
            <button mat-raised-button (click)="select_all_projects(false)" color="primary" style="margin: 5px">Deselect All</button>
          </div>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Filter</mat-label>
            <input type="text" matInput (keyup)="applyFilter($event)" placeholder="Search projects" #filterInput>
          </mat-form-field>

          <div class="table-container">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="projects">
                <th mat-header-cell *matHeaderCellDef> Your projects </th>
                <td mat-cell *matCellDef="let project"><mat-checkbox [checked]="project.import" (change)="update_selected_projects(project)"></mat-checkbox> {{project.name}}</td>
              </ng-container>
              
              <!-- Display Columns -->
              <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

              <!-- Row when no match is found (Only works in Angular 10.*) -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="1">No projects matching "{{filterInput.value}}"</td>
              </tr>
            </table>
          </div>

        </mat-expansion-panel>
      </div>

      <br>

      <div align="center">
        <button mat-raised-button (click)="parse_projects(tms.id)" color="accent" style="margin-right: 10px; margin-bottom: 5px; font-size: 20px; height: 44px;" class="new-font">Import projects</button>        
      </div>
      <div align="center">
          <span mat-raised-button (click)="delete_tms(tms.id)" matTooltip="This will also remove all projects associated with this JIRA account" color="accent" style="margin-right: 10px; margin-bottom: 5px; font-size: 12px; width: 340px; height: 44px;" class="new-font">Remove this JIRA account</span>
          </div>

      </div>
      <!-- <div align="right">TMS ETAbot ID {{ tms.id }}</div> -->
    </mat-card-content>


  </mat-card>
