  <mat-card class="tms-card">

    <mat-card-header class="card-header" style="margin-bottom: 28px;">
      <mat-card-title class="new-font" style="margin-top: 8px; font-size: 24px;" class="julius-font">{{ job.get_title() }}</mat-card-title>

    </mat-card-header>
    <mat-card-content>
        {{ job.get_status_description() }}<br>
        <span (click)="update_job_status()">Force status check </span><br>
        <span (click)="deleteMe()">Close </span>
        <mat-progress-bar mode="buffer" *ngIf="job.get_status() === 0"></mat-progress-bar>
    </mat-card-content>

</mat-card>