<mat-card class="job-card">
    <mat-card-content fxLayout="row">
        <div class="job-card-content" fxLayout="row">
            <mat-progress-spinner
                    *ngIf="job.get_status() === 0"
                    class="job-card-element"
                    [color]="color"
                    [diameter]="20"
                    [mode]="'indeterminate'"
                    (click)="update_job_status()"
                    matTooltip="{{ job.get_status_description() }}">
            </mat-progress-spinner> 
            <div class="job-card-element">
                <i class="material-icons" *ngIf="job.get_status() === 2" matTooltip="Job failed, please try again. If the issue persists, please email us at hello@etabot.ai">error</i>
            </div>            
            <span class="job-card-element">
                {{ job.get_title() }} {{job.get_details()}}
            </span>
            <div class="job-card-element">
                <i class="material-icons" (click)="deleteMe()">close</i>
            </div>
        </div>
    </mat-card-content>
</mat-card>