<div fxLayout="row" fxFlex="20" class="new-font"> 
  <div *ngIf="showAdvancedSettings == false" fxFlex="15"> 
    <div *ngIf="showAdvancedSettings == false" (click)="showAdvancedSettings = true" style="font-size: 20px; margin-left: 2px; ">Show advanced settings</div>
  </div>
  <div *ngIf="showAdvancedSettings == true" fxFlex="15"> 
    <p *ngIf="showAdvancedSettings == true" (click)="showAdvancedSettings = false" style="font-size: 20px; margin-left: 2px;">Hide advanced settings</p>
  </div>
  <div *ngIf="showAdvancedSettings == true" fxFlex fxLayout="row" style="margin-top: 35px;"> 
    <div fxLayout="row" fxFlex="25">
      <div fxFlex> 
        What is your planning grace period?
      </div>
      <div fxFlex="20">
        <form #f="ngForm" (ngSubmit)="submit(f, $event)">
          <label *ngIf="!isEditPlanningPeriod" (click)="isEditPlanningPeriod = true">{{ grace_period }}</label>
          <input type="text" *ngIf="isEditPlanningPeriod" [(ngModel)]="grace_period" name="pickPeriod" placeholder="{{ grace_period }}"> 
        </form>
      </div>
    </div>
    <div fxLayout="row" fxFlex>
      <div fxFlex="25"> 
        Where do you keep your open tasks?
      </div>
      <div fxFlex="15" *ngFor="let openStatus of arrayUpdatedOpenStatus"> 
        <form #otherForm="ngForm" (ngSubmit)="submitTask(otherForm)"> 
          <label *ngIf="!isEditOpenTasks" (click)="isEditOpenTasks = true">{{ openStatus }}</label>
          <input type="text" *ngIf="isEditOpenTasks" [(ngModel)]="open_status" name="open_status" placeholder="{{ openStatus }}"> 
        </form>
      </div>
      <div fxFlex>
        <div (click)="addOpenStatus()" class="new-font">Add open status</div>
      </div>
    </div>
  </div>
</div>
