<div class="cards">
	<div *ngIf="dayKeys === null; else keys_exist">
		No keys
	</div>
	<ng-template #keys_exist>
	<div *ngFor="let key of dayKeys">
		<div *ngIf="key == 'Time Zone';else work_content">
		</div>
		<ng-template #work_content>
			<app-work-hour-card [workHourDay]="key" [workHourTime]="passData(key)"></app-work-hour-card>
		</ng-template>
	</div>
	<a mat-mini-fab color="basic" *ngIf="notExceedLimit == true" (click)="addWorkHours()" style="margin-left: 20px; margin-top: 60px;"><mat-icon>add</mat-icon></a>
</ng-template>
</div>
		<!--<div (click)="addWorkHours()"><button mat-raised-button color="accent">Click to add hours</button></div> --> <!-- *ngIf="(workHours.length == 0)"  -->
		<!--<a mat-mini-fab color="basic" *ngIf="cardWasSelected == true" (click)="deleteHours()"><mat-icon>delete</mat-icon></a>-->
<!--<div *ngFor="let day of workHoursData">
	day is {{ day.value }} 
</div>-->
<!--
<div *ngFor="let day of days">
	<div *ngIf="workHoursData.Monday !== undefined">
			<div *ngFor="let time of workHoursData.Monday">
			</div>
	</div>
</div>
-->

<!--
<div *ngFor="let times of workHoursData.Friday">
	{{ times.start }}
	{{ times.end }}
</div>-->
	<!--{{ workHoursData.Tuesday }}-->
	<!--
	<div *ngFor="let day of workHoursData">
		<div *ngFor="let times of day">
			<div>
				Day is {{ day }} and times are {{ times.start }} - {{ times.end}}
			</div>
		</div>
	</div>-->



<!--
<div class="cards">
	<div *ngFor="let workHour of workHours">
		<app-work-hour-card [workHourDay]="workHour.day" [workHourTime]="workHour.time" (mouseover)="cardSelected()" ></app-work-hour-card>
	</div>--> <!-- [workHourDay]="workHour.day" [workHourTime]="workHour.time" -->
	
<!--

		<a mat-mini-fab color="basic" *ngIf="notExceedLimit == true && (workHours.length >= 1)" (click)="addWorkHours()" style="margin-bottom: 8px;"><mat-icon>add</mat-icon></a>
		<div *ngIf="(workHours.length == 0)" (click)="addWorkHours()"><button mat-raised-button color="accent">Click to add hours</button></div>
		<a mat-mini-fab color="basic" *ngIf="cardWasSelected == true" (click)="deleteHours()"><mat-icon>delete</mat-icon></a>
	</div>
	</div>-->
<!--</div>-->
<!--</div>-->
