.cards {
	display: flex;
	flex-flow: row wrap;
	font-family: 'Josefin Sans', sans-serif;
}

.buttons {
	display: flex;
	flex-flow: column;
}
/*.hour-content {
	display: flex;
	flex-flow: row wrap;

}

.buttons {
	display: flex;
	flex-flow: column;
	margin-left: 3px;
	
	/*padding-top: 25px;
}
*/