<!--<a mat-raised-button (click)="get_real_projects()">Get Projects</a>
<div *ngIf="gotProjects">GOT PROJECTS</div>-->


<div *ngIf="projectsReceived == true" class="new-font">
<h1 style="text-align: center; font-size: 32px;">Projects</h1>
<hr>
<div class="alert alert-info new-font" style="text-align: center; font-size: 20px;  "><p style="color: #1a237e;">All JIRA tasks will be updated daily at 11:59 pm, or click <a href="#">here</a> to update ETA for all projects now.</p></div> 
<div *ngFor="let project of realProjects" fxLayout="column" fxLayout.xs="row"  fxLayoutAlign="space-evenly stretch" style="background-color:#F5F5F5; padding-left: 5px; padding-right: 5px;">
  
  <mat-card>
    <div>
      <div class="card-header">
        <mat-card-header class="card-header" style="margin-bottom: 28px;">
          <div mat-card-avatar class="header-image"></div>
          <div class="card-title-subtitle">
            <mat-card-title class="new-font" style="margin-top: 8px;">{{ project.name }}</mat-card-title>
            <!-- <mat-card-subtitle class="new-font">{{ project.mode }}</mat-card-subtitle> -->
            <!-- <mat-card-subtitle>{{ project.id }}</mat-card-subtitle> -->
            <!--<mat-card-subtitle>{{ project.work_hours.time_zone}}</mat-card-subtitle>-->
          </div>
          <div class="card-update-button new-font">
            <button mat-raised-button color="primary" class="new-font" style="font-size: 22px; width: 150px; height: 50px; margin-left: 12px;">Update ETA</button>
          </div>
        </mat-card-header>
      </div>
      <mat-card-content>
        <!-- <div fxLayout="row">
          <div fxFlex="10" class="new-font">
            Time Zone
          </div>
          <div class="new-font" >
            {{ timeZone }}
          </div>
        </div> -->
        <div fxLayout="row" style="margin-bottom: 20px;">
          <div fxFlex="10" class="new-font" style="margin-top: 28px; margin-right: 8px;">
            Work Hours
          </div>
          <div fxFlex class="new-font">
            <div *ngIf="project.work_hours === null; else exists_work_hours">
              <!-- No work hours -->
              <app-work-hours-view (timeZone)="defaultTimeZone" [workHoursData]="[]"></app-work-hours-view >
            </div>
            <ng-template #exists_work_hours>
            <app-work-hours-view (timeZone)="setTimeZone($event)" [workHoursData]="project.work_hours">
            </app-work-hours-view>
          </ng-template>
          </div>
        </div>
      </mat-card-content>
      <mat-card-content class="new-font">
        <div *ngIf="project.vacation_days === null; else exists_vacation">
          <app-vacations [vacationData]="[]"></app-vacations>
        </div>
        <ng-template #exists_vacation>
        <app-vacations [vacationData]="project.vacation_days"></app-vacations>
      </ng-template>
        <!--
        <div *ngIf="project.vacation_days != null">
          <app-vacations [vacationData]="project.vacation_days"></app-vacations>
        </div>
        <div *ngIf="project.vacation_days == null">
          null
        </div>
      -->
      </mat-card-content>
      <mat-card-content>
        <app-advanced-settings [open_status]="project.open_status" [grace_period]="project.grace_period"></app-advanced-settings>
      </mat-card-content>
    </div>
  </mat-card>
  <hr>
</div>

</div>
