<div *ngIf="projectsReceived == false" class="new-font">
    <h1 style="text-align: center; font-size: 32px;" class="julius-font">Welcome, {{username}}</h1>
    <h1 style="text-align: center; font-size: 32px;" class="julius-font">Loading your projects...</h1>
</div>
<div *ngIf="projectsReceived == true" class="new-font">
    <!-- <div class="add_tms_link"><a [routerLink]="['/jira']" style="cursor: pointer">Add JIRA account</a></div> -->
    <!-- <div class="add_tms_link"><a [routerLink]="['/tmss']" style="cursor: pointer">View accounts</a></div> -->
    <h1 style="text-align: center; font-size: 32px;" class="julius-font">Welcome, {{username}}</h1>
    <div class="alert alert-info new-font" style="text-align: center; font-size: 20px;  "><p style="color: #1a237e;">All JIRA tasks will be updated daily around midnight, or click <a (click)="estimate_all_projects()" style="cursor: pointer">here</a> to update ETA for all projects now.</p></div> 

    <div style="text-align: center; font-size: 32px;" *ngIf="!projectsReceived">Loading...</div>
    <div style="text-align: center; font-size: 32px;" *ngIf="projectsReceived && c_isEmpty(realProjects)">No projects added yet. You can go to <a [routerLink]="['/tmss']">Accounts</a> to add new accounts or refetch projects for existing accounts.</div>

    <div class="projects-container" fxLayout="row wrap"  fxLayoutAlign="space-evenly start">
        <app-project-card *ngFor="let project of realProjects" [project]="project" [tms]="tmss_by_id[project.project_tms_id]" [tms_service]="tms_service"></app-project-card>
    </div>

</div>
    
    <!-- fxLayoutGap="0.5%" -->

    <!--           <div class="container">    
                <div fxFlex mat-card-avatar class="header-image" ></div>
                <div fxFlex class="card-title-subtitle">
                  <mat-card-subtitle class="new-font">{{ project.mode }}</mat-card-subtitle>
                  <mat-card-subtitle>{{ project.id }}</mat-card-subtitle>
                  <mat-card-subtitle>{{ project.work_hours.time_zone}}</mat-card-subtitle>
                </div>
              </div>
     --> 
     <!--            <div fxFlex>
                </div>
     -->

      
        <!-- <div fxLayout="row">
          <div fxFlex="10" class="new-font">
            Time Zone
          </div>
          <div class="new-font" >
            {{ timeZone }}
          </div>
        </div> -->
<!--         <div fxLayout="row" style="margin-bottom: 20px;">
          <div fxFlex="10" class="new-font" style="margin-top: 28px; margin-right: 8px;">
            Work Hours
          </div>
          <div fxFlex class="new-font">
            <div *ngIf="project.work_hours === null; else exists_work_hours">
 -->              <!-- No work hours -->
<!--               <app-work-hours-view (timeZone)="defaultTimeZone" [workHoursData]="[]"></app-work-hours-view >
            </div>
            <ng-template #exists_work_hours>
            <app-work-hours-view (timeZone)="setTimeZone($event)" [workHoursData]="project.work_hours">
            </app-work-hours-view>
          </ng-template>
          </div>
        </div>
      </mat-card-content>
 --><!--       <mat-card-content class="new-font">
        <div *ngIf="project.vacation_days === null; else exists_vacation">
          <app-vacations [vacationData]="[]"></app-vacations>
        </div>
        <ng-template #exists_vacation>
        <app-vacations [vacationData]="project.vacation_days"></app-vacations>
      </ng-template>
 -->        <!--
        <div *ngIf="project.vacation_days != null">
          <app-vacations [vacationData]="project.vacation_days"></app-vacations>
        </div>
        <div *ngIf="project.vacation_days == null">
          null
        </div>
      -->
      <!-- </mat-card-content> -->
<!--       <mat-card-content>
        <app-advanced-settings [open_status]="project.open_status" [grace_period]="project.grace_period"></app-advanced-settings>
      </mat-card-content>
 -->    