.julius-font {
  font-family: 'Julius Sans One', sans-serif;
}
.new-font {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
}

.header-image {
  background-image: url('../../../../assets/launchpadme.png');
  background-size: cover;
}

.card-header {
/*    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
*/}
.card-title-subtitle {
    order: 2;
    flex-grow: 0.2;
}

.wrapper {
    display: grid;
}


.mat-card-avatar {
    min-height: 55px;
    min-width: 55px;
}

.update_button_spinner_container{
    vertical-align: middle;
    align-items: center;
}


.card-update-button {
    display:inline-block;
    vertical-align: middle;
    align-items: center;
}

.update_eta_button {
    font-size: 22px;
    height: 50px;
    margin-left: 12px;
}

.spinner {
  margin: 0 10px;
  align-items: right;
  display:inline-block;
  align-items: center;
}

.spinner_div {
    vertical-align: middle;
    display:inline-block;
    align-items: center;
}

.eta_update_status {
    margin: 10px;
}

.metrics_table {
    font-size: 18px;
}

.add_tms_link {
    float: right;
    margin: 10px;
    display: block;
}

.projects-container {
  min-height: 100%;
  width: 100%;    
/*  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:#F5F5F5;
  padding-left: 5px;
  padding-right: 5px;
*/}


.project-card {
  width: 400px;
  margin-bottom: 2%;
  margin: 10px;
  display:inline-block;
  /*display: flex;*/
}

/*.mat-raised-button {
    background-color: #d9edf7; border-color: #bce8f1;
}*/

