<div class="work-hour-time-card new-font">
  <mat-card style="min-height: 185px; max-width: 155px;">
    <div>
      <!--<mat-card>-->
        <form>
          <div *ngIf="!isEdit" (click)="isEdit = true"><h5 style="font-size: 22px;">{{ workHourDay }}</h5></div>
          <mat-select *ngIf="isEdit" [(ngModel)]="workHourDay" name="pickDay" style="max-width: 165px; font-size: 22px;" class="new-font">
            <mat-option *ngFor="let day of days" [value]="day.value" (click)="isEdit = false" class="new-font" style="font-size: 22px; max-width: 165px;">
              {{ day.value }} 
            </mat-option>
          </mat-select>
        </form>
        
        <form>
        <div *ngFor="let key of keys" fxLayout="row">
          <!-- {{ workHourTime[key].start }} - {{ workHourTime[key].end }} -->
        <div *ngIf="isEditTimeStart == false" (click)="isEditTimeStart = true"><h6 class="days">{{ workHourTime[key].start }}:00 - </h6></div>
            <div *ngIf="isEditTimeStart == false"><h6 class="days">&nbsp;{{ workHourTime[key].end }}:00</h6></div>
            <mat-select *ngIf="isEditTimeStart" [(ngModel)]="workHourDay" name="pickDay" style="max-width: 165px; font-size: 22px;" class="new-font">
            <mat-option *ngFor="let day of days" [value]="day.value" (click)="isEdit = false" class="new-font" style="font-size: 22px; max-width: 165px;">
              {{ day.value }} 
            </mat-option>
          </mat-select>
            <!-- <mat-select *ngIf="isEditTimeStart" [(ngModel)]="workHourTime[key].start" name="pickHour" style="max-width: 25px; font-size: 22px;" class="new-font">
            <mat-option *ngFor="let hour of hours" [value]="hour.value"  class="new-font" style="font-size: 22px; max-width: 25px;">
              {{ hour.value }} 
            </mat-option>
          </mat-select> -->
        </div>
        </form>
        <!-- <app-work-hour-start *ngFor="let times of workHourTime" [start]="times.start" [end]="times.end"></app-work-hour-start> -->

     <!-- <div *ngFor="let times of workHourTime">
      <div *ngIf="times == 'Time Zone';else work_content">
      </div>
      <ng-template #work_content>
        <app-work-hour-start [start]="times.start"></app-work-hour-start>
      </ng-template>
    </div> -->
         <!-- <form>
          <div *ngFor="let times of workHourTime">
          <h5 *ngIf="!isEdit" style="font-size: 22px;" (click)="isEdit = true">{{ times.start }}</h5>
        </div>
        <div *ngFor="let times of workHourTime">
          <mat-select *ngIf="isEdit" [(ngModel)]="times.start" name="pickDay" style="max-width: 165px; font-size: 22px;" class="new-font">
            <mat-option *ngFor="let hour of hours" [value]="hour.value" (click)="isEdit = false" class="new-font" style="font-size: 22px; max-width: 165px;">
              {{ hour.value }} 
            </mat-option>
          </mat-select>
        </div>
        </form> -->
      <!--</mat-card>-->
    <!--<div>-->
      <!--<mat-card>-->

   <!--      <form> 
          <div *ngFor="let times of workHourTime">
            <div *ngIf="isEditTimeStart == false" (click)="isEditTimeStart = true"><h6 class="days">{{ times.start }}:00 -</h6></div>
            {{ workHourDay }}
            <mat-select *ngIf="isEditTimeStart" [(ngModel)]="workHourDay" name="pickHour" style="max-width: 165px; font-size: 22px;" class="new-font">
            <mat-option *ngFor="let day of days" [value]="day.value" (click)="isEditTimeStart = false" class="new-font" style="font-size: 22px; max-width: 165px;">
              {{ day.value }} 
            </mat-option>
          </mat-select>
        </div>
        </form> -->
      
     <!-- </mat-card>-->
		<!--<div style="padding-top: 0px; padding-left: 5px; padding-right: 5px;"><a mat-card (click)="deleteCard()">Delete time</a></div>-->
    <!--</div>-->
    </div>
  </mat-card>
</div>
