<mat-card style="margin-left:500px; margin-top: 82px; margin-right: 500px;">
  <mat-card-title style="text-align: center; margin-bottom: 70px; ">
    <h1>Log in</h1></mat-card-title>
  <div *ngIf="newUser == true" class="alert alert-success">Thank you for signing up! We have sent you a confirmation email. Please follow the instructions to gain full access to the site.</div>
  <div *ngIf="loading == false" class="alert alert-danger">Username and password do not match</div>
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label for="username" class="new-font" style="font-size: 20px;">Username</label>
      <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required style="font-size: 18px;" class="new-font" />
      <div *ngIf="f.submitted && !username.valid" class="help-block new-font">Username is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password" class="new-font" style="font-size: 20px;">Password</label>
      <input type="password" class="form-control new-font" name="password" [(ngModel)]="model.password" #password="ngModel" required style="font-size: 18px;" />
      <div *ngIf="f.submitted && !password.valid" class="help-block new-font">Password is required</div>
    </div>
    <div class="form-group" style="margin-bottom: 56px;">
      <button [disabled]="loading" mat-raised-button color="accent" class="new-font" style="font-size: 20px; width: 100px; height: 44px;">Log in</button>
    </div>
  </form>
</mat-card>
