<h6>
  <form *ngIf="vacationEnd !== undefined"> <!-- && calendarField == true   -->
    <mat-form-field>
      <!-- <div (click)="picker.open()" *ngIf="calendarField == false" style="font-size: 18px; color: #9e9e9e;" class="new-font">
        {{ vacationStart | date: 'M/dd'}} -
      </div> -->
      <input style="height: 1px; width: 1px; visibility: hidden;" [(ngModel)]="date"  matInput [matDatepicker]="picker" (keydown)="updateEndDateVacation($event)" name="date">
      <div (click)="picker.open()" style="font-size: 18px; color: #9e9e9e;" class="new-font">{{ date | date: 'M/dd'}} </div> 
      <!-- <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle> -->
      <mat-datepicker touchUi="true" #picker> </mat-datepicker>
     </mat-form-field>
  </form>
</h6>


<!-- <div style="margin-bottom:5px;">
<h6>
  <form *ngIf="vacationEnd !== undefined && calendarField == true">  
    <mat-form-field>
      <input matInput [matDatepicker]="picker" (keydown)="updateEndDateVacation($event)" placeholder="{{ vacationEnd | date: 'y-MM-dd' }}">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
     </mat-form-field>
  </form>
  <div (click)="calendarField = true" *ngIf="calendarField == false" style="font-size: 18px; color: #9e9e9e;" class="new-font">
    &nbsp;{{ vacationEnd | date: 'M/dd'}}
  </div>
</h6>
</div> -->