<mat-card class="sign-login-card">
  <mat-card-title style="text-align: left;">
    <h1>Connect to JIRA</h1>
  </mat-card-title>
  <div *ngIf="error == true" class="alert alert-danger">We were not able to connect to your JIRA account. Error code: <span [innerHTML]="error_status"></span>.  Detailed description: <span [innerHTML]="error_status_text"></span></div>
  <div *ngIf="loading == true" class="alert alert-info" style="flex: row">Hold tight! We are verifying your info with Atlassian... Maximum attempts: <span [innerHTML]="attempts_to_connect"></span>. This can take up to a minute. This box will change to red if authorization fails.</div>
  <form #f="ngForm" (ngSubmit)="add_tms_via_service()" class="new-font">
    <div class="form-group">
      <label for="jira_url" style="font-size: 20px; color: black;">Your JIRA address</label>        
      <div class="form-group">
          <input type="text" id="jira_url" class="form-control" name="jira_url" required [(ngModel)]="model.jira_url" #jira_url="ngModel" value="{{ team }}" placeholder="e.g. https://your_team.atlassian.net" style="text-align: middle; font-size: 18px;" />
        </div>
    </div>
    <div class="form-group">
      <label for="email" style="font-size: 20px; color: black;">JIRA E-mail</label>
      <input type="text" class="form-control" id="email" name="email" required [(ngModel)]="model.email" #email="ngModel" style="font-size: 16px;" />
    </div>
    <div class="form-group">
      <label for="password" style="font-size: 20px; color: black;">JIRA Password</label>
      <input class="form-control" type="password" id="password" class="form-control" name="password" required [(ngModel)]="model.password" #password="ngModel" style="font-size: 16px;" />
    </div>
    <div class="form-group">
      <button mat-raised-button color="accent" style="margin-right: 10px; margin-bottom: 5px; font-size: 20px; width: 120px; height: 44px;" class="new-font">Connect</button>
    </div>
    <div>
      <label for="terms" style="font-size: 15px;"> {{ username }}, you can read our Security and Privacy policy regarding JIRA <a (click)="openDialog()"> here.</a></label>
    </div>
  </form>
</mat-card>
