<mat-card style="margin-left:500px; margin-top: 82px; margin-right: 500px;" class="new-font">
  <mat-card-title style="text-align: center;">
    <h1>Connect to JIRA</h1>
  </mat-card-title>
  <div *ngIf="error == true" class="alert alert-danger">An error has occured. Check the info you provided.</div>
  <div *ngIf="loading == true" class="alert alert-info">Hold tight! We are verifying your info with Atlassian...</div>
  <form #f="ngForm" (ngSubmit)="jira()">
    <div class="form-group">
      <label for="jira_url" style="font-size: 20px;">JIRA Project Name ?</label>
      <input type="text" id="jira_url" class="form-control" name="jira_url" required [(ngModel)]="model.jira_url" #jira_url="ngModel" value="{{ team }}" style="text-align: left; font-size: 18px;" />
    </div>
    <div class="form-group">
      <label for="email" style="font-size: 20px;">Your email address</label>
      <input type="text" class="form-control" id="email" name="email" required [(ngModel)]="model.email" #email="ngModel" style="font-size: 16px;" />
    </div>
    <div class="form-group">
      <label for="password" style="font-size: 20px;">Password</label>
      <input class="form-control" type="password" id="password" class="form-control" name="password" required [(ngModel)]="model.password" #password="ngModel" style="font-size: 16px;" />
    </div>
    <div class="form-group">
      <button mat-raised-button color="accent" style="margin-right: 10px; margin-bottom: 5px; font-size: 20px; width: 120px; height: 44px;" class="new-font">Connect</button>
    </div>
    <div>
      <label for="terms" style="font-size: 15px;"> {{ username }}, you can read our Security and Privacy policy regarding JIRA <a (click)="openDialog()"> here.</a></label>
    </div>
  </form>
</mat-card>
