<div class="project-summary-container">

  <table class="summary_table">
    <tbody>
      <tr>
        <td colspan="4">{{summary.total}} Due dates total</td>
      </tr>
      <tr>
        <td style="background-color:#e9a2ad">{{summary.overdue}} </td>
        <td style="background-color:#f3c19d">{{summary.off_track}}</td>
        <td style="background-color:#fbe192">{{summary.at_risk}}</td>
        <td style="background-color:#8dd7cf">{{summary.on_track}}</td>
      </tr>
      <tr>
        <td> overdue  </td>
        <td> off track  </td>
        <td> at risk  </td>
        <td> on track  </td>
      </tr>
    </tbody>
  </table>
</div>