::ng-deep :root {
    --color-overdue: #e9a2ad;
    --color-off-track: #f3c19d;
    --color-at-risk: #fbe192;
    --color-on-track: #8dd7cf;
}

.summary-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.summary_table {
    border-collapse: collapse;
    border: 1px solid silver;
    margin-bottom: 10px;
    box-shadow: rgba(143, 143, 143, 0.25) 3px 3px 3px;
}

.summary_table td, th, tr {
    padding: 5px;
    border-collapse: collapse;
    border: 1px solid silver;
    text-align: center;
}

.mat-icon-button {
    width: 0;
    height: 0;
    color: black;
    position: relative;
    top: -.75px;
    transition: all 100ms ease-in-out;
  }
  
.mat-icon-button:hover {
    color: darkblue;
    top: -1.5px;
}

.more-button {
    left: 100%;
}

.manage-button {
    right: 10%;
    float: right;
}

.mat-icon-group > .mat-icon-button {
    width: auto;
    margin: 3px;
}

.user-select {
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.user {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
    top: 0px;
    background-color: rgb(180, 180, 180);
    border: 3px solid white;
    border-radius: 50px;
    line-height: 45px;
    font-size: 1.25em;
    transition: all 100ms ease-in-out;
    margin-right: -10px;
    overflow: hidden;
    cursor: pointer;
}

.user:hover {
    top: -5px;
}

.selected-user {
    border-color: rgb(41, 41, 175);
}

.more-users {
    z-index: 1;
}

.more-users > mat-form-field {
    width: 50px;
    visibility: hidden;
}

:ng-deep .mat-form-field-flex {
    padding: 0px;
}

.mat-select {
    text-align: center;
    width: 100%;   
    font-size: 20px;
}

/* .mat-select-arrow-wrapper {
    display: none;
    border: none;
} */

mat-select-panel {
    width: 100%;
    font-size: 10em;
}

/* ::ng-deep mat-label {
    width: 100%;
} */