
  <mat-card class="project-card" >
    <mat-card-header class="card-header" style="margin-bottom: 28px;">
      <mat-card-title class="new-font" style="margin-top: 8px; font-size: 24px;" class="julius-font">
        <div style="float: left">{{ project.name }}</div>
        <div (click)="openSettings(tms, project)" class="gear-image" style="float: right"></div></mat-card-title>
        <div *ngIf="tms.connectivity_status.status == 'error'">(!)</div>
    </mat-card-header>
      <mat-card-content>
        <div fxLayout="row wrap" class="update_button_spinner_container">
          <div fxFlex class="card-update-button new-font">
              <button (click)="estimate(project)" mat-raised-button color="primary" class="update_eta_button new-font julius-font">Update ETAs</button>
          </div>
          <div fxFlex class="spinner_div">
             <mat-progress-spinner *ngIf="project.eta_in_progress" class="spinner" mode="indeterminate" [diameter]="35">
             </mat-progress-spinner>
          </div>
        </div>
        <div class="eta_update_status">
           <div *ngIf="project.eta_in_progress || project.last_updated">Your JIRA task summaries will be updated with ETAs soon. This could take a few minutes (and will continue even if the browser is closed).</div>
           <div *ngIf="project.error_message" class="alert-danger">Error: {{ project.error_message }}.</div>
           <div *ngIf="project.result_message" class="alert-success">{{ project.result_message }}</div>

        </div>
        <div>
          <table class="metrics_table">
            <tr>
              <td>Velocity</td>
              <td>{{ (project.velocities !== null) ? (project.velocities.mean | number:'1.0-2') : "TBD" }} pph</td>
            </tr>
            <tr>
              <td>Issues on track</td>
              <td>Coming soon</td>
            </tr>        

          </table>
        </div>
        <div>
    
        </div>
        <div *ngIf="project.last_updated">ETAs last triggered {{ project.last_updated | date:'short' }}.</div>
    </mat-card-content>

  </mat-card>