<mat-card class="sign-login-card">
  <mat-card-title style="text-align: center;">
    <h1>Sign up</h1></mat-card-title>
  <form #f="ngForm" (ngSubmit)="f.form.valid && signup()">

    <div *ngIf="userFailure" class="alert alert-danger" style="font-size: 16px;">{{ error_message }}</div>

    <div class="form-group">
      <label for="email" style="font-size: 20px;">Register with your email:</label>
      <input type="text" id="email" class="form-control" name="email" required [(ngModel)]="model.email" #email="ngModel" style="font-size: 16px;" />
      <div *ngIf="f.submitted && !email.valid" class="help-block new-font">Email is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password" style="font-size: 20px;">New password:</label>
      <input type="password" id="password" class="form-control" name="password" required [(ngModel)]="model.password" #password="ngModel" style="font-size: 20px;" />
      <div *ngIf="f.submitted && !password.valid" class="help-block new-font">Password is required</div>
    </div>

    <div style="margin-bottom: 10px;">
      <input type="checkbox" [checked]="isAcceptedTerms" (change)="isAcceptedTerms = !isAcceptedTerms" id="terms" class="filled-in">
      <label for="terms" style="font-size: 16px; margin-left: 3px;">I agree with the <a (click)="openTosDialog()" style="font-size: 16px;"> Terms and Conditions</a></label>
    </div>

    <div style="margin-bottom: 10px;">
      <input type="checkbox" [checked]="isAcceptedPrivacyPolicy" (change)="isAcceptedPrivacyPolicy = !isAcceptedPrivacyPolicy" id="privacy-policy" class="filled-in">
      <label for="privacy-policy" style="font-size: 16px; margin-left: 3px;">I agree with the <a (click)="openPpDialog()" style="font-size: 16px;"> Privacy Policy</a></label>
    </div>

    <div style="margin-bottom: 10px;">
      <input type="checkbox" [checked]="isNotGDRPCountry" (change)="isNotGDRPCountry = !isNotGDRPCountry" id="gdpr" class="filled-in">
      <label for="gdpr" style="font-size: 16px; margin-left: 3px;">I am not a <a title="We do not currently support customers from European Union due to GDPR regulations. Please come back later (email us at hello@etabot.ai to subscribe for updates)">citizen of the European Union (EU) or the European Economic Area (EEA)</a></label>
    </div>

    <div class="form-group" style="font-size: 16px;">
      <button mat-raised-button [disabled]="!isAcceptedTerms || !isAcceptedPrivacyPolicy || !isNotGDRPCountry" color="accent" class="new-font" style="margin-right: 10px; margin-bottom: 5px; margin-left: 3px; font-size: 20px; font-size: 20px; width: 120px; height: 44px;">Sign up
      </button>
      <span class="lg-view">Already registered? <a [routerLink]="['/login']">Log in here</a></span>
      <span class="sm-view"><a [routerLink]="['/login']">Log in here</a></span>
    </div>
  </form>
</mat-card>
