/*.input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }*/
[type="checkbox"].filled-in:not(:checked)+label:after {
  border: 2px solid #e53935 !important;
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #1a237e !important;
  background-color: #1a237e;
}

.form-group input[type=text]:focus {
     border-bottom: 1px solid #1a237e;
     box-shadow: 0 1px 0 0 #1a237e;
}

.form-group input[type=password]:focus {
     border-bottom: 1px solid #1a237e;
     box-shadow: 0 1px 0 0 #1a237e;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
}

.new-font {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.lg-view {
  display: inline-block;
}

.sm-view {
  display: none;
}

@media screen and (max-width: 500px) {
  .lg-view {
    display: none;
  }

  .sm-view {
    display: inline-block;
  }
}

.alert {
  white-space: pre-wrap;
}

.pop-up-link {
  cursor: pointer;
}