@import '~@angular/material/theming';
@include mat-core();
$etabot-primary: mat-palette($mat-indigo, 900);
$etabot-accent: mat-palette($mat-red, 600);
$etabot-warn: mat-palette($mat-brown, 900);
$etabot-theme: mat-light-theme($etabot-primary, $etabot-accent, $etabot-warn);
$custom-typography: mat-typography-config(
    $font-family: 'Arial'
);

@include angular-material-theme($etabot-theme);

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: normal;
    font-size: 28px;
}

.sign-login-card {
    max-width: 400px;
    display: block;
    margin-left:auto;
    margin-right:auto;  
    margin-top:20px;
    vertical-align:middle;  
}


.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 4rem;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-primary hr {
  border-top-color: #9fcdff;
}

.alert-primary .alert-link {
  color: #002752;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-secondary hr {
  border-top-color: #c8cbcf;
}

.alert-secondary .alert-link {
  color: #202326;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-success .alert-link {
  color: #0b2e13;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-info hr {
  border-top-color: #abdde5;
}

.alert-info .alert-link {
  color: #062c33;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-warning hr {
  border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
  color: #533f03;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger hr {
  border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
  color: #491217;
}

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-light hr {
  border-top-color: #ececf6;
}

.alert-light .alert-link {
  color: #686868;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.alert-dark hr {
  border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
  color: #040505;
}



.add_tms_link {
    float: right;
    margin: 10px;
    display: block;
}

.projects-container {
  min-height: 100%;
  width: 100%;    
  align-self: center;
  }

.tms-links-container {
  width: 80%;    
  align-self: center;
}

.project-card {
  width: 350px;
  margin-bottom: 2%;
  margin: 10px;
  display:inline-block;
  /*display: flex;*/
}


.tms-card {
  width: 350px;
  margin-bottom: 2%;
  margin: 10px;
  margin-right: 10px;
  display:inline-block;
  /*display: flex;*/
}

.card-header {
/*    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
*/}
.card-title-subtitle {
    order: 2;
    flex-grow: 0.2;
}

.gear-image {
  background-image: url('assets/gear.png');
  background-size: cover;
  width: 30px;
  height: 30px;
}

.logo-image {
  background-image: url('assets/cropped-ETAbot-1.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.jira-logo-image {
  background-image: url('assets/Jira_Software-blue-short.png');
  width: 213px;
  height: 76px;
  background-size: cover;
  margin-right: 10px;
}

.back-button-image {
  background-image: url('assets/x_button_150x150.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: none;
}

.tutorial-image {
  background-image: url('assets/tutorial_image_sc.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

// Use this class on mat-form-field to set
// mat-select inputs from showing the 
// dropdown arrow
.no-arrow {
  .mat-select-arrow-wrapper {
    display: none;
  }
}