::ng-deep .panel-class > mat-dialog-container {
    background-color: var(--background);
    box-shadow: none;
}

::ng-deep .panel-class {
    min-width: 600px;
}

.img-wrapper {
    width: 100%;
    height: 25vw;
    min-height: 300px;
    
    position: relative;

    background-color: white;
    box-shadow: gray -4px 4px 10px;
    border-radius: 20px;
}

#back-button {
    position: absolute;
    top: 2%;
    right: 2%;

    cursor: pointer;
}

#continue-button {
    font-size: 25px;
    
    padding: 1% 4%;
    
    position: absolute;
    bottom: 5%;
}

.absolute-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.outer-loader {
    width: 60%;
    height: 4%;
    
    position: absolute;
    top: 15%;
    
    background-color: #C5CAE9;
    border-radius: 5px;
}

.inner-loader {
    background-color: #3F51B5;
}

.loading-error {
    position: absolute;
    
    width: 80%;
    height: 5%;
    top: 2.5%;
}

::ng-deep .alert {
    text-align: center;
    
    padding: .5% 10%;
}