<div class="img-wrapper tutorial-image">
  <app-error-box [error_message]=error_message [style.display]="error_display" class="loading-error absolute-center"></app-error-box>
    
    <div [style.display]="loading_bar_display" class="outer-loader absolute-center progress md-progress">
      <div class="indeterminate inner-loader"></div>
    </div>

    <div id="time-message-container">
      <p id="time-message" [style.display]="time_message_display">This may take some time, feel free to close the window, we will email you when the projects are imported.</p>
    </div>

    <!-- <button (click)="close()" class="new-font" id="back-button"><mat-icon aria-hidden="false" aria-label="Report download icon">close</mat-icon></button> -->
    <mat-icon aria-hidden="false" (click)="close()" class="new-font" id="back-button" aria-label="Report download icon">close</mat-icon>

    <button (click)="send()" [disabled]='redirect_button_disabled' [routerLink]="['/projects']" cdkFocusInitial mat-raised-button color="primary" class="absolute-center new-font" id="continue-button">Continue to Projects</button>

</div>