<h6>
  <form *ngIf="vacationStart !== undefined"> <!-- && calendarField == true   -->
    <mat-form-field>
      <!-- <div (click)="picker.open()" *ngIf="calendarField == false" style="font-size: 18px; color: #9e9e9e;" class="new-font">
        {{ vacationStart | date: 'M/dd'}} -
      </div> -->
      <input style="height: 1px; width: 1px; visibility: hidden;" [(ngModel)]="date"  matInput [matDatepicker]="picker" (keydown)="updateStartDateVacation($event)" name="date">
      <div (click)="picker.open()" style="font-size: 18px; color: #9e9e9e; width: 50px;" class="new-font">{{ date | date: 'M/dd'}} -</div> 
      <!-- <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle> -->
      <mat-datepicker touchUi="true" #picker> </mat-datepicker>
     </mat-form-field>
  </form>
</h6>
