{{ start }} - {{ end}}
<br>
<div *ngIf="isEdit == false" (click)="isEdit = true">false</div>
<!-- <div *ngIf="isEditable == false" (click)="isEditable = true">some text</div>
<div *ngIf="isEditable == true" (click)="isEditable = false">
	another text
	
</div> -->

<!-- 	<div (click)="isEdit = true">
		{{ start }}
	</div>
	<div *ngIf="isEdit == false">{{ start }}</div> -->
<!-- 	<form>
	<mat-select *ngIf="isEdit" [(ngModel)]="start"  name="pickDay" style="max-width: 165px; font-size: 22px;" class="new-font">
		<mat-option *ngFor="let hour of hours" [value]="hour.value" (click)="isEdit = false" class="new-font" style="font-size: 22px; max-width: 165px;">
    	{{ hour.value }}:00
		</mat-option>
  </mat-select>
	</form> -->
<!-- 	<div *ngIf="!isEditable" >
		<h5 (click)="isEditable = !isEditable">{{ start }}</h5>
	</div>
	<div *ngIf="isEditable" (click)="isEditable = !isEditable">some text</div> -->

